In [66]:
import pandas
from marketing_data_cleaning import DATA_FOLDER_PATH

In [67]:
df = pandas.read_csv(DATA_FOLDER_PATH / 'prenoms.csv', encoding='utf-8', sep=';')

In [68]:
df = df.rename(columns={
    '01_prenom': 'prenom',
    '02_genre': 'genre',
    '03_langage': 'langage',
    '04_fréquence': 'fréquence'
})

In [69]:
df = df[['prenom', 'genre']]

In [70]:
df.head()

    prenom genre
0  aaliyah     f
1   aapeli     m
2     aapo     m
3    aaren   m,f
4    aarne     m

In [71]:
girl_names = df[df['genre'] == 'f']
boy_names = df[df['genre'] == 'm']
mixed_naems = df[df['genre'] == 'm,f']

In [72]:
girl_names.describe()

       prenom genre
count    5312  5313
unique   5303     1
top      in�s     f
freq        3  5313

In [73]:
initial_db = pandas.read_csv(DATA_FOLDER_PATH / 'db/v1.csv', encoding='utf-8')

In [74]:
def name_checker(value):
    value = str(value).lower()

    result = girl_names[girl_names['prenom'] == value].empty
    if not result:
        return 'G'
    
    result = boy_names[boy_names['prenom'] == value].empty
    if not result:
        return 'B'
    return 'A'


initial_db['gender'] = initial_db['Prénom'].apply(name_checker)

In [77]:
initial_db

,LinkedIn,Civilité,Prénom,Nom,Nom complet,Poste,Entreprise,Company LinkedIn,Statut enrichissement,Email,Site entreprise,gender
0,https://www.linkedin.com/in/guillaume-sellam-4...,Madame,Guillaume,Sellam,Guillaume Sellam,New Energies_EV market_Strategy_Business Devel...,Allego,https://fr.linkedin.com/company/allego,Enrichi,NaN,https://www.allego.eu/,B
1,https://www.linkedin.com/in/amellefebvre,Madame,Amélie,Lefebvre,Amélie Lefebvre,Consultante indépendante en communication,Allego,https://fr.linkedin.com/company/allego,Enrichi,NaN,https://www.allego.eu/,G
2,https://www.linkedin.com/in/jeanlouiscoupat,Madame,Jean,Louis COUPAT,Jean-Louis COUPAT,"Directeur Strategic Projects, Europe chez Alle...",Allego,https://fr.linkedin.com/company/allego,Enrichi,NaN,https://www.allego.eu/,A
3,https://www.linkedin.com/in/francoise-ragot-61...,Madame,Francoise,RAGOT,Francoise RAGOT,Business Developer France,Allego,https://fr.linkedin.com/company/allego,Enrichi,NaN,https://www.allego.eu/,A
4,https://www.linkedin.com/in/charles-pousset-8b...,Madame,Charles,Pousset,Charles Pousset,Business Specialist on European Network Develo...,Allego,https://fr.linkedin.com/company/allego,Enrichi,NaN,https://www.allego.eu/,B
...,...,...,...,...,...,...,...,...,...,...,...,...
5187,https://www.linkedin.com/in/alaismathias,Madame,MATHIAS,Alaïs,NaN,Chef de produit,VALRHONA,NaN,Non enrichi,alais@valrhona.eu,https://www.valrhona.com/fr-FR,B
5188,https://www.linkedin.com/in/helene-radisson-93...,Madame,Radisson,helene,NaN,NaN,VALRHONA,NaN,Non enrichi,NaN,https://www.valrhona.com/fr-FR,A
5189,https://www.linkedin.com/in/oceane-brillier-la...,Madame,Brillier-Laverdure,Océane,NaN,Cheffe de produit innovation BtoC chez VALRHONA,VALRHONA,NaN,Non enrichi,NaN,https://www.valrhona.com/fr-FR,A
5190,https://www.linkedin.com/in/agathe-pastre-0373...,Madame,Pastre,Agathe,NaN,Chef de produit Innovation BtoB chez VALRHONA,VALRHONA,NaN,Non enrichi,NaN,https://www.valrhona.com/fr-FR,A
5191,https://www.linkedin.com/in/juangalotti,Madame,Galotti,Juan,NaN,Directeur Marketing,VERGER BOIRON,NaN,Non enrichi,NaN,https://www.my-vb.com/fra,A